[package]
name = "lavalink-rs"
version = "0.5"
authors = ["nitsuga5124 <nitsuga5124@gmail.com>"]
edition = "2018"
license = "MPL-2.0"
description = "Lavalink bindings for discord bot crates"
readme = "README.md"
homepage = "https://gitlab.com/nitsuga5124/lavalink-rs/"
repository =  "https://gitlab.com/nitsuga5124/lavalink-rs/"
keywords = ["lavalink", "discord", "serenity", "async"]
categories = ["multimedia"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []

rustls-marker = []
native-marker = []
tokio-02-marker = []

rustls = [
    "async-tungstenite/tokio-rustls",
    "serenity/rustls_backend",
    "songbird/serenity-rustls",
    "songbird/gateway",
    "tokio",
    "tokio-rustls",
    "reqwest",

    "rustls-marker"
]

native = [
    "async-tungstenite/tokio-native-tls",
    "serenity/native_tls_backend",
    "songbird/serenity-native",
    "songbird/gateway",
    "tokio",
    "tokio-native-tls",
    "reqwest",

    "native-marker"
]

rustls-tokio-02 = [
    "async-tungstenite-compat/tokio-rustls",
    "serenity/rustls_tokio_0_2_backend",
    "songbird/serenity-rustls-tokio-02",
    "songbird/gateway-tokio-02",
    "tokio-compat",
    "tokio-rustls-compat",
    "reqwest-compat",

    "rustls-marker",
    "tokio-02-marker"
]

native-tokio-02 = [
    "async-tungstenite-compat/tokio-native-tls",
    "serenity/native_tls_tokio_0_2_backend",
    "songbird/serenity-native-tokio-02",
    "songbird/gateway-tokio-02",
    "tokio-compat",
    "tokio-native-tls-compat",
    "reqwest-compat",

    "native-marker",
    "tokio-02-marker"
]

[dependencies]
regex = "1.3"
serde_json = "1.0"
serde-aux = "2"
futures = "0.3"
tracing-log = "0.1"
http = "0.2"
typemap_rev = "0.1"

[dependencies.tokio]
version = "1"
default-features = false
features = ["rt-multi-thread", "sync", "time"]
optional = true

[dependencies.tokio-compat]
package = "tokio"
version = "0.2"
default-features = false
features = ["rt-threaded", "sync", "time"]
optional = true

[dependencies.tokio-native-tls]
version = "0.3"
optional = true

[dependencies.tokio-native-tls-compat]
package = "tokio-native-tls"
version = "0.1"
optional = true

[dependencies.tokio-rustls]
version = "0.22"
optional = true

[dependencies.tokio-rustls-compat]
package = "tokio-rustls"
version = "0.14"
optional = true

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.reqwest]
version = "0.11"
features = ["json"]
optional = true

[dependencies.reqwest-compat]
package = "reqwest"
version = "0.10"
features = ["json"]
optional = true

[dependencies.async-tungstenite]
version = "0.11"
default-features = false
features = ["tokio-runtime"]
optional = true

[dependencies.async-tungstenite-compat]
package = "async-tungstenite"
version = "0.9"
default-features = false
features = ["tokio-runtime"]
optional = true

[dependencies.serenity]
version = "^0.10.2"
default-features = false
features=["model"]

[dependencies.songbird]
version = "^0.1.3"
default-features = false

#[[example]]
#name = "basic_play"
#
#[[example]]
#name = "basic_queue"
#
#[dev-dependencies.tokio]
#version = "1"
#features = ["full"]
#
#[dev-dependencies.serenity]
#version = "^0.10.2"
#default-features = false
#features = ["client", "cache", "standard_framework", "voice", "default_native_tls"]
#
#[dev-dependencies.songbird]
#version = "^0.1.3"
#default-features = false
#features = ["serenity-native", "gateway"]
