[package]
name = "lavalink-rs"
version = "0.9.0-rc.3"
authors = ["vicky5124 <vickyf5124@gmail.com>"]
edition = "2021"
license = "MPL-2.0"
description = "Lavalink bindings for async discord api crates"
readme = "README.md"
homepage = "https://gitlab.com/vicky5124/lavalink-rs/"
repository =  "https://gitlab.com/vicky5124/lavalink-rs/"
keywords = ["lavalink", "discord", "serenity", "twilight", "tokio"]
categories = ["multimedia"]
documentation = "https://docs.rs/lavalink-rs"

[workspace]
#members = ["examples/serenity_basic_queue", "examples/twilight_basic_queue"]
members = ["examples/twilight_basic_queue"]
exclude = ["examples/serenity_basic_queue", "examples/poise_basic_queue"]

[features]
default = ["rustls", "songbird", "tracing-log"]

discord-gateway = []

tracing-log = ["tracing"]
normal-log = ["log"]

serenity = ["serenity-dep"]
twilight = ["twilight-model"]
songbird = ["songbird-dep"]

rustls = [
    "async-tungstenite/tokio-rustls-webpki-roots",
    "tokio-rustls",
    "reqwest/rustls-tls",
    "serenity-dep/rustls_backend",
]

native = [
    "async-tungstenite/tokio-native-tls",
    "tokio-native-tls",
    "reqwest/native-tls",
    "serenity-dep/native_tls_backend",
]

[package.metadata.docs.rs]
features = ["rustls", "twilight", "serenity", "songbird", "discord-gateway"]

[dependencies]
regex = "1.3"
serde_json = "1.0"
serde-aux = "3"
futures = "0.3"
http = "0.2"
typemap_rev = "0.1"
dashmap = "5"
async-trait = "0.1"
parking_lot = "0.11"

[dependencies.tokio]
version = "1"
default-features = false
features = ["rt-multi-thread", "sync", "time"]

[dependencies.tokio-native-tls]
version = "0.3"
optional = true

[dependencies.tokio-rustls]
version = "0.23"
optional = true

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["json"]

[dependencies.async-tungstenite]
version = "0.16"
default-features = false
features = ["tokio-runtime"]
optional = true

[dependencies.serenity-dep]
package = "serenity"
version = "0.10"
default-features = false
features = ["model"]
optional = true

[dependencies.twilight-model]
version = "0.6"
optional = true

[dependencies.songbird-dep]
package = "songbird"
version = "0.2"
default-features = false
features = ["gateway"]
optional = true

[dependencies.tracing]
version = "0.1"
optional = true

[dependencies.log]
version = "0.4"
optional = true

[dev-dependencies.tokio]
version = "1"
features = ["full"]

[dev-dependencies.serenity-dep]
package = "serenity"
version = "^0.10.2"
features = ["client", "cache", "standard_framework", "voice"]

[dev-dependencies.songbird-dep]
package = "songbird"
version = "0.2"
default-features = false
features = ["serenity-rustls", "gateway"]

[dev-dependencies.tracing]
version = "0.1"

[dev-dependencies.tracing-subscriber]
version = "0.3"

[build-dependencies]
version_check = "0.9"
